@import "./variables.scss";

$form-padding-raw: 2;
$form-padding: #{$form-padding-raw}px;
$form-height: #{$header-height-raw - ($form-padding-raw * 2)}px;

@mixin compactHeader {
  // header
  // .gb_Wa:not(.gb_Xa) .gb_7d {
  // .gb_ja:not(.gb_ka) .gb_gd {
  .gb_sa:not(.gb_ta) .gb_0d {
    padding: 0;

    // left section
    :nth-child(1) {
      min-width: calc(#{$sidenav-width} - 2px) !important;

      // menu button
      .gb_zc {
        padding: 3px;
      }
      // actual logo image
      .gb_tc img {
        height: $header-height !important;
        width: auto !important;
      }
    }

    // middle section
    :nth-child(2) {
      // form wrapper
      .gb_Te {
        height: $form-height;

        // search form
        form {
          border: none;

          // image buttons
          button {
            svg,
            img {
              padding: 4px;
              margin: 2px;
            }
          }

          // search form wrapper
          .gb_Hf {
            height: $form-height;
            // search input
            input {
              padding-top: 5px;
              padding-bottom: 5px;
              height: $form-height;
            }
          }
          // TODO: What is this?
          .gb_Xf {
            height: $form-height;
          }
        }
      }
    }

    // right section (notifications, google launcher, account)
    :nth-child(2).gb_2c {
      height: $header-height;

      // button
      .gb_D {
        padding: 0;
      }
    }
  }
}
