@import "./variables.scss";

// wrap everything in body so the injected stylesheet takes priority
body {
  // #region make items more compact
  .fp-display-item-holder {
    md-card.fp-display-item-card {
      margin: 0;

      md-card-content {
        margin: 0;
        padding: $card-padding;
        position: relative;
      }
    }
  }
  .fp-display-item-header {
    padding-bottom: 0.5em;
  }

  .fp-display-block-details {
    margin: 0;
    position: absolute;
    top: $card-padding;
    right: 40px;
  }

  .fp-display-block-video-holder,
  .fp-display-block-image {
    display: none;
  }
  // #endregion

  // #region make main content slightly wider
  .main-column-width {
    max-width: 960px;
  }
  // #endregion

  md-sidenav.fp-sidenav-left.md-locked-open {
    // make sidenav smaller so it doesn't overlap the now wider main content
    max-width: $sidenav-width;
    // also move it closer to the header
    top: $header-height;
  }

  // #region make header smaller
  md-toolbar {
    min-height: $header-height;
  }
  .fp-toolbar-tools {
    height: $header-height;
  }
  // #endregion

  .fp-sidenav-content-button,
  a.fp-sidenav-content-button {
    padding-left: 1em;
  }

  .fp-search-card {
    margin-top: 4px;
  }
  .fp-search-button img {
    margin: 4px 8px;
  }

  // #region make various generic controls more compact
  md-menu-content {
    md-menu-item {
      min-height: $min-button-height;
      height: auto;

      & > a.md-button,
      & > .md-button,
      .history-overflow-menu a,
      .history-overflow-menu button {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: $menu-button-side-padding;
        padding-right: $menu-button-side-padding;
      }
    }
    md-divider {
      margin-bottom: $menu-divider-margin;
      margin-top: $menu-divider-margin;
    }
  }
  .md-button,
  .fp-sidenav-content-button,
  a.fp-sidenav-content-button {
    min-height: $min-button-height;
    line-height: $min-button-height;
  }
  // open in new tab icon
  .history-open-in-new-icon {
    margin-top: 0;
  }
  // another open in new tab icon but for sidenavs
  .fp-sidenav-open-in-new {
    padding: 0;
    align-self: center;
  }
  // #endregion
}
