@import "./variables.scss";
@import "./mixins.scss";

$month-view-event-row-height: 16px;

body {
  @include compactHeader();

  // #region create new event button
  // wrapper
  .dwlvNd {
    top: #{($header-height-raw + ($create-button-wrapper-height-raw/2)) - (
        $create-button-height-raw/2
      )}px;
  }
  // placeholder
  .LXjtcc {
    height: $create-button-wrapper-height;
  }
  // sidenav menu top overlay shadow
  .hEtGGf::before {
    top: $create-button-wrapper-height;
  }
  // #endregion

  // #region Month view
  // calendar month view date label
  .t8qpF {
    line-height: inherit;

    // actual text
    .yzYBvd {
      margin: 0;
    }
  }
  // month view event row
  /* .geSgge {
    .ifwtOb,
    .rES0Be {
      height: $month-view-event-row-height;
      font-size: 12px;
    }
    // inner wrapper
    .geSgge .g3dbUc {
      height: $month-view-event-row-height;
    }
  } */
  // #endregion

  // #region Menus
  // menu item wrapper
  .z80M1,
  // view mode menu
  .xAHiW .z80M1 {
    padding-left: $menu-button-side-padding !important;
    padding-right: $menu-button-side-padding !important;
  }

  // menu item
  .uyYuVb,
  // view mode menu
  .hxbWqd .uyYuVb {
    line-height: $min-button-height;
    height: $min-button-height;
  }

  // menu divider
  .kCtYwe {
    margin: $menu-divider-margin 0;
  }
  // #endregion
}
