@import "./variables.scss";
@import "./mixins.scss";

$contact-row-height: 38px;
$profile-picture-size: 36px;

body {
  @include compactHeader();
  // contact row
  /* .XXcuqd {
    transform: translateY(0) !important;
    height: $contact-row-height !important;
    position: relative;
    // inner
    .zYQnTe {
      height: $contact-row-height;
      // cell
      .E6Tb7b {
        padding: 0;
        // checkbox
        & > .v2jl3d {
          padding: 8px;
          padding-left: 2px;
          width: $profile-picture-size;
          height: $profile-picture-size;
          top: 0;
        }
      }
    }
  } */

  // #region sidenav
  // sidenav link
  .jqJLq.jqJLq a {
    padding: $sidenav-button-padding-top $sidenav-button-padding-left;
  }
  // sidenav wrapper
  .ANsHhf {
    width: $sidenav-width;
  }
  // #endregion

  &.gb_Oe [data-ogpc] {
    margin-left: $sidenav-width !important;
  }

  // #region Create contact button
  // large add contact button wrapper
  .k831u {
    padding-top: 5px;
    // another wrapper
    .aU2Vdf {
      padding: 0 0 0 6px;
    }
  }

  // sidenav menu top overlay shadow
  .esioQe,
  .tuQOVc {
    display: none;
  }

  // create contact button
  .VfPpkd-BIzmGd {
    height: 32px;

    // padding
    &::before {
      content: none;
    }

    // icon
    .VfPpkd-Q0XOV {
      width: $create-button-icon-size;
      height: $create-button-icon-size;
      font-size: $create-button-icon-size;
    }
  }
  // #endregion
}
