@import "./variables.scss";
@import "./mixins.scss";

body {
  @include compactHeader();
  // #region context menu
  // context menu
  .a-nEbBXb .a-w.a-w-Mr,
  .a-nEbBXb .a-mb-w.a-w-Mr {
    height: auto !important;
  }

  // context menu item
  .a-nEbBXb .h-v {
    min-height: $min-button-height !important;
    padding-left: $menu-button-side-padding !important;
    padding-right: $menu-button-side-padding !important;
  }

  // context menu item children
  .a-nEbBXb .h-v-x {
    line-height: $min-button-height !important;
    min-height: $min-button-height !important;
  }

  // context menu divider
  .a-nEbBXb .h-Yo {
    margin: $menu-divider-margin 0 !important;
  }
  // #endregion
}
