@import "./variables.scss";
@import "./mixins.scss";

$tab-item-height: 30px;

body {
  @include compactHeader();
  // old header
  /* #gb > div.gb_Ed.gb_de.gb_Nd.gb_fe {
  padding: 0 !important;

  // header section
  & > div.gb_Cc {
    height: auto !important;

    // left section
    &.gb_Zd.gb_Ae {
      // buttons
      & > .gb_hc {
        padding: 3px !important;
      }

      // actual logo image
      & > div.gb_ac > div > a > img {
        height: $header-height !important;
        width: auto !important;
      }
    }

    // middle section
    &.gb_Vd.gb_6d {
      // form wrapper
      .gb_Sd {
        height: $header-height !important;

        // image buttons
        .gb_Se button {
          svg,
          img {
            padding: 2px !important;
            margin: 0 !important;
          }
        }

        // search form
        form.gb_Se#aso_search_form_anchor {
          // search form wrapper
          & > div.gb_tf.gb_nf {
            height: $header-height !important;
            // search input
            & > input {
              padding-top: 5px !important;
              padding-bottom: 5px !important;
              height: $header-height !important;
            }
          }
        }
      }
    }

    // right side buttons
    .gb_9c {
      padding: 0 !important;
    }
  }
} */

  /* .gb_Wa:not(.gb_Xa) .gb_7d {
  padding: 0 !important;

  // header column
  .gb_Wc {
    height: auto !important;

    // left section
    &:nth-child(1) {
      // menu button
      .gb_zc {
        padding: 3px !important;
      }
      // actual logo image
      .gb_tc img {
        height: $header-height !important;
        width: auto !important;
      }
    }

    // middle section
    &:nth-child(2) {
      // form wrapper
      .gb_ke {
        height: $header-height !important;

        // search form
        form#aso_search_form_anchor {
          // image buttons
          button {
            svg,
            img {
              padding: 2px !important;
              margin: 0 !important;
            }
          }

          // search form wrapper
          .gb_Wf {
            height: $header-height !important;
            // search input
            input {
              padding-top: 5px !important;
              padding-bottom: 5px !important;
              height: $header-height !important;
            }
          }
        }
      }
    }

    // right side buttons
    &:nth-child(2) .gb_vd {
      padding: 0 !important;
    }
  }
} */

  // tab wrapper
  .aKh {
    height: $tab-item-height !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 3 !important; // fix for emails showing up above tabs

    // tab items
    .J-KU-Jg-K9 .J-KU .aAy {
      height: $tab-item-height !important;
    }

    // unknown hidden tab item
    .aKi {
      height: $tab-item-height !important;
    }
  }

  // email actions
  .G-atb {
    height: 30px !important;
    background: rgb(37, 37, 37) !important;
    padding: 0 1em !important;
  }

  // emails
  .zA {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
  }

  // #region sidenav
  // container
  .aeN {
    width: $sidenav-width !important;
    max-width: $sidenav-width !important;
    min-width: $sidenav-width !important;
  }
  .wT {
    max-width: $sidenav-width !important;
    min-width: $sidenav-width !important;
  }
  // sidenav link
  .TN {
    padding: $sidenav-button-padding-top $sidenav-button-padding-left;
  }
  // #endregion
}
