@import "./variables.scss";
@import "./mixins.scss";

$article-spacing: 8px;
$article-padding: 8px;
$article-image-size: 50px;

body {
  @include compactHeader();
  // Wrapper for all articles
  .BL5WZb {
    grid-gap: $article-spacing 32px;
  }

  // Article wrapper
  .NiLAwe.nID9nc {
    min-height: auto;
  }

  // Article content
  .y6IFtc .xTewfe {
    padding: $article-padding;
  }
  // Article content of article with multiple news sources
  .gAl5If .Cc0Z5d {
    padding: $article-padding $article-padding 0 $article-padding;
  }

  // Article thumbnail
  .d7hoq {
    width: $article-image-size;
    height: $article-image-size;
    top: $article-padding;
    right: $article-padding;
  }
}
